.root {
    -fx-background: rgb(220, 218, 218);
}

.button {
	-fx-background-color: #2196f3;
	-fx-text-fill: white;
}

.button:hover {
	-fx-background-color: #FF3399;
	-fx-text-fill: white;
}

.text-field {
    -fx-background-color: rgb(232, 232, 232);
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-area .content {
    -fx-background-color: rgb(232, 232, 232);
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-area:focused .content {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}


